@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  }

body {
  scroll-behavior: smooth;
  background: #fff;
  color: black;
}

img {
  display:block;
  max-width: 100%;
}

h1,
h2,
p,
a,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
}

.header{
  padding: 40px 0;
  margin-bottom: 84px;
}

.navigationButton{
  display: flex;
  gap: 40px;
  align-self: center;
}

.navigationButton a{
  color: black;
}
.navigation{
  display: flex;
  gap: 559px;
  justify-content: flex-end;
}

.navigation a{
  font-size: 10px;
}

.menu a{
  display: flex;
  color: #F25822;
  font-size: 10px;
}


.mainContent{
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.mainContent_leftSide{
  max-width: 556px;
  margin-bottom: auto;
}

.mainContent_leftSide h1{
  color: black;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.mainContent_leftSide p{
  color: #888888;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 32px;
  max-width: 556px;
}

.mainContent_leftSide-btnList{
  display: flex;
  gap: 48px;
  align-self: center;
}

.mainContent_leftSide-left{
  padding: 16px 31px;
  background: #F25822;
  border-radius: 56px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.mainContent_leftSide-Right{
  padding: 16px 31px;
  background: #aaaaaa00;
  border-radius: 56px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #AAAAAA;
}

.logos{
  display: flex;
  justify-self: space-between;
  gap: 48px;
  margin-bottom: 100px;
}

.cardList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 61px;
}
.cardFeatures{
  padding: 34px;
  display: flex;
  flex-direction: column;
  gap: 18px ;
  align-items: first baseline;
  text-align: left;
}

.cardServes{
  padding: 34px;
  display: flex;
  flex-direction: column;
  gap: 16px ;
  align-items: center;
  text-align: center;
}

.cardBig{
  grid-column: span 3;
  grid-row: span 3;
  padding: 48;
  align-items: center;
  text-align: center;
  width: 1174px;

}


.cardServes,.cardFeatures h3{

  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: black;
}

.cardFeatures,.cardServes p{
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(102, 102, 102, 1);
}

.cardBig h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  padding: 24px;
  margin-bottom: 20px;
  color: black;
}

.cardBig p{
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #666666;
}
